system-status.cfg
poller.state*
*.config
*.org
*.xz
ui/contest/
ui/static/
__pycache__/
results/
.idea/
.project
.pydevproject
.settings/
core/mailmap.py
deploy/contest/remote/alpha/
deploy/contest/remote/builder-setup.sh
deploy/contest/remote/nipa-virtme-ksft-tmpl.service
deploy/contest/remote/tmpl-script.sh
form-letters/cc-maintainers
form-letters/fixes
form-letters/pv-bot
form-letters/winter-break
nipa.log
pw_socket.py
results.json
testing/
tmp_fix.py
ui/favicon-nic.xcf
venv/
